.jumbotron {
  text-align: center;
  font-weight: bold;
  background-color: #00aa45;
}

img {
  width: 75%;
  height: 350px;
  float: left;
}

.col-md-6 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
